h1 {
    color: red;
    text-align: center;
    text-decoration: underline overline;
}

button {
    width: 120px;
    height: 80px;
    color: blue;
    background-color: blanchedalmond;
}
p {
    color: grey;
    background-color: rgb(180, 180, 19);
    text-align: end;
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 2px;
}

ol {
    color: rgb(235, 235, 241);
    background-color: rgb(15, 5, 51);
    font-size: smaller;
}
#pisang {
    color: yellow;
    font-size: large;
}

/* contoh descendant selector
pilih a yang berada di dalam ol

fungsi sama dengan penggunaan selector memakai class / id
*/
ol a{
    background-color: brown;
}

/* contoh direct descendant selector
nembak element langsung dibwah element tsb

contoh : memberi warna BG aquamarine pada paragraf di dalam h2
*/
h2>p{
    background-color: aquamarine;
}

/* contoh atribut selector
memilih style pada atribut
*/
input[type="text"]{
    color: brown;
    font-style: italic;
}