h1 {
    text-align: center;
}

p {
    text-align: center;
}
#container {
    background-color: brown;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
div {
    width: 70px;
    height: 70px;
}