h1 {
    text-align: center;
}

p {
    text-align: center;
}
#container {
    background-color: brown;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
div {
    width: 200px;
    height: 80px;
}