div {
    width: 300px;
<<<<<<< HEAD
    padding: 50px;
    margin: 20px 100px;
}

div {
    border-style: dotted;
    border-width: 5px 10px;
    border-top-style: groove;
    border-color: rgb(245, 169, 70) rgb(230, 70, 70);
}

p {
    background-color: rgb(120, 120, 182);
    border: 1px solid black;
}

span {
    background-color: aqua;
    border: 2px solid black;
=======
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
>>>>>>> 2e2be0d228e04202a1f22aa62dd1b1c83b6460ae
}