div {
    width: 300px;
<<<<<<< HEAD
    padding: 50px;
    margin: 20px 100px;
}

div {
    border-style: dotted;
    border-width: 5px 10px;
    border-top-style: groove;
    border-color: rgb(245, 169, 70) rgb(230, 70, 70);
}

p {
    background-color: rgb(120, 120, 182);
    border: 1px solid black;
    width: 100 px;
    display: inline;
}

span {
    background-color: rgb(176, 185, 185);
    border: 1px solid rgb(207, 162, 162);
    padding: 5px;
}