body {
    background: #0de07e;
    font-family: 'Nunito', sans-serif;
}

#nav .container-fluid {
    font-size: 1.5rem;
    background: rgb(250, 250, 11);
    font-weight: 100;
}

#nav .navbar-nav {
    color: white
}

#nav .nav-link:hover {
    color: rgb(153, 152, 152);
}

#title-head {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #title-head h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}