body {
    background: #c2ded1;
    font-family: 'Nunito', sans-serif;
}

#nav .container-fluid {
    font-size: 1.5rem;
    background: rgb(121, 121, 16);
    font-weight: 100;
}

#nav .nav-link {
    color: white
}

#nav .nav-link:hover {
    color: rgb(105, 4, 4);
}